{% extends 'base.html'  %}



{% block content%}


    {% if user.is_authenticated %}

    
    <div class="container">
        <h1>Upload a Video</h1>
        <form action="{% url 'upload_data' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-secondary ">Submit</button>
        </form>
        
        
    </div>
    



       
        
    {% else  %}
    <h1>Login</h1>
    <br>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="First Name" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required >
            </div>
            <br>
            <button type="submit" class="btn btn-secondary ">Submit</button>

        </form>
    </form>

   {% endif %}

    
    <script>
        document.getElementById('videoInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const videoPreview = document.getElementById('videoPreview');
                videoPreview.src = URL.createObjectURL(file);
                videoPreview.load();
            }
        });
    </script>

    
    



{% endblock %}
